
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
}

div {
  background-size: cover;
}

.home, .navbar {
  display: flex;
}

.home {
  background-image: url("https://images6.alphacoders.com/372/372198.jpg");
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 50px 20px;
  color: white;
}

h1, h2, h3, h4 {
  margin: 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: black;
  background: linear-gradient(to right, #3498DB, white);
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}


.parks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.park-card {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.park-card h3 {
  margin-top: 0;
}

.park-card p {
  margin: 10px 0;
}

